/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}



* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

/* fuentes */
@font-face {
	font-family: "lobster";
	src: url('font/Lobster-Regular.ttf');
}

@font-face {
	font-family: "hartone";
	src: url('font/Hartone\ Softed.ttf');
}

@font-face {
	font-family: "fjallaone";
	src: url('font/FjallaOne-Regular.ttf');
}


/* header */
header {
	background-color: white;
	display: block;
}

/* titulo */
.snack {
	color: #ff5f00;
	font-family: "lobster";
	font-size: 2rem;
	padding-left: 3rem;
	padding-top: 0.5rem;
}

.vegano {
	color: #9fc088;
	font-family: "lobster";
	font-size: 3rem;
	padding-left: 3rem;
}

/* logo de instagram */
.img-instagram {
	width: 100%;

	display: flex;
	justify-content: end;
	position: fixed;
}

.img-fluid {
	border-radius: 50%;
}
.card-title{
	font-family: "lobster";
	font-size: 3rem;
}
.card-text{
	font-family: "hartone";
	font-size: 1.5rem;
}
.card-text img{
	width: 7.5rem;
	border-radius: 100%;
}

 
/* barra de navegacion */

.navbar-nav {
	font-size: 20px;
	font-family: "fjallaone";
}

/* 
.barra-nav {
	font-size: 20px;
	padding-top: 3rem;
	padding-left: 6rem;
	padding-bottom: 3rem;
	background: rgb(56, 145, 52);
	background: linear-gradient(90deg, rgba(56, 145, 52, 1) 0%, rgba(2, 38, 0, 1) 54%, rgba(0, 45, 3, 1) 100%);
}

.barra-nav a {
	color: whitesmoke;
	font-size: 1.5rem;
	font-family: "fjallaone";
	text-decoration: none;
}

.bar-1 { 
	border-radius: 6px;
    padding-top: 3rem;
	padding-left: 3rem;
	padding-right: 3rem;
	padding-bottom: 3rem;
}

.bar-2 {
	border-radius: 6px;
	padding-top: 3rem;
	padding-left: 3rem;
	padding-right: 3rem;
	padding-bottom: 3rem;
}
.bar:hover{
	background-color: #9fc088;
	transform: scale(4);
	transition-property: all;
	transition-duration: 2s;
} */

/* imagenes fondo de pantalla */


.img-inicio {
	width: 100%;
	background-color: #464E2E;
	display: flex;
	justify-content: center;
}

.img-inicio img {
	width: 50%;
	background-color: #2c3333;
	margin-top: auto;
	padding: 1rem;
	margin-bottom: 2rem;
	margin-top: 2rem;
}

/* informacion */
.informacion {
	color: #9fc088;
	background-color: #2c3333;
	font-size: 3rem;
	text-decoration: none;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.img-nutricional {
	width: 100%;
	display: flex;
	justify-content: center;
}

.img-nutricional img {
	width: 25%;
}


/* pag contacto */
.img-contacto{
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: #9fc088;
}



/* responsive */
/* tablet */
@media (max-width:960px) {


}

/* mobile */

@media (max-width:449px) {
	
}