@import'../base/variables';

header {
    nav {
        div {
            a {
                h2 {
                    color: #ff5f00;
                    font-family: "lobster";
                    font-size: 2rem;
                    padding-left: 3rem;
                    padding-top: 0.5rem;

                    h2.vegano {
                        color: #9fc088;
                        font-family: "lobster";
                        font-size: 3rem;
                        padding-left: 3rem;

                        buttom {
                            span {
                                div {
                                    ul {
                                        li {
                                            a {
                                                li {
                                                    a {
                                                        li {
                                                            a {
                                                                li {
                                                                    a {
                                                                        li {
                                                                            a {
                                                                                a {}
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}